<header class="site-header">
  <a id="fork-me-on-github" href="https://github.com/miclle" target="_blank">
    <img src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" />
  </a>

  <div class="avatar">
    <a href="/">
      <img src="/images/miclle.jpg" width="80" height="80" alt="Miclle Zheng Profile Picture">
    </a>
  </div>

  <h1 class="site-title">
    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
  </h1>

 <!--  <nav>
    <ul class="nav nav-pills nav-stacked">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li>
          <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav> -->


  <ul class="list-inline social-media-list">
    <li>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-feed"></i> RSS</a>
    </li>

    {% if site.github_username %}
    <li>
      {% include icon-github.html username=site.github_username %}
    </li>
    {% endif %}

    {% if site.twitter_username %}
    <li>
      {% include icon-twitter.html username=site.twitter_username %}
    </li>
    {% endif %}
  </ul>
</header>
